* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: white;
  margin: 50px auto 0;
  border-radius: 20px;
  padding: 40px 36px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  border: none;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 50px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button {
  border: none;
  outline: 0;
  background: #ebfffc;

  height: 50px;
  border-radius: 50%;

  width: 50px;
  font-size: 18px;
}

.search img {
  height: 21px;
  width: 18px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -7px;
}


.Weather{
  display: none;
}

.error{
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
  color: Black;
  display: none;
}